In [3]:
import pandas as pd 
import numpy as np

## Preprocesamiento Rates

In [3]:
df_rates = pd.read_csv("Data/Rate_PUF.csv")

In [4]:
df_rates.head()

,BusinessYear,StateCode,IssuerId,SourceName,ImportDate,RateEffectiveDate,RateExpirationDate,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents
0,2023,AK,21989,HIOS,2022-11-19 01:01:13,2023-10-01,2023-12-31,21989AK0110001,Rating Area 1,NaN,Family Option,76.59,NaN,159.30,183.81,183.81,183.81,274.18,274.18,274.18
1,2023,AK,21989,HIOS,2022-11-19 01:01:13,2023-01-01,2023-12-31,21989AK0030001,Rating Area 1,No Preference,0-14,63.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023,AK,21989,HIOS,2022-11-19 01:01:13,2023-01-01,2023-03-31,21989AK0110001,Rating Area 1,NaN,Family Option,73.82,NaN,153.54,177.16,177.16,177.16,264.27,264.27,264.27
3,2023,AK,21989,HIOS,2022-11-19 01:01:13,2023-04-01,2023-06-30,21989AK0110001,Rating Area 1,NaN,Family Option,74.74,NaN,155.46,179.38,179.38,179.38,267.57,267.57,267.57
4,2023,AK,21989,HIOS,2022-11-19 01:01:13,2023-07-01,2023-09-30,21989AK0110001,Rating Area 1,NaN,Family Option,75.66,NaN,157.38,181.59,181.59,181.59,270.87,270.87,270.87

In [5]:
df_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2752441 entries, 0 to 2752440
Data columns (total 20 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   BusinessYear                               int64
 1   StateCode                                  object
 2   IssuerId                                   int64
 3   SourceName                                 object
 4   ImportDate                                 object
 5   RateEffectiveDate                          object
 6   RateExpirationDate                         object
 7   PlanId                                     object
 8   RatingAreaId                               object
 9   Tobacco                                    object
 10  Age                                        object
 11  IndividualRate                             float64
 12  IndividualTobaccoRate                      float64
 13  Couple                                     float64
 14  PrimarySubscriberAndOneDependent           float64
 15  PrimarySubscriberAndTwoDependents          float64
 16  PrimarySubscriberAndThreeOrMoreDependents  float64
 17  CoupleAndOneDependent                      float64
 18  CoupleAndTwoDependents                     float64
 19  CoupleAndThreeOrMoreDependents             float64
dtypes: float64(9), int64(2), object(9)
memory usage: 420.0+ MB

In [32]:
# Eliminaci√≥n de columnas

df_rates2 = df_rates.drop(
    columns=[
        "BusinessYear", 
        "SourceName", 
        "ImportDate", 
        "RateEffectiveDate", 
        "RateExpirationDate", 
        "RatingAreaId", 
        "Tobacco"
        ])
df_rates2.head()

,StateCode,IssuerId,PlanId,Age,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents
0,AK,21989,21989AK0110001,Family Option,76.59,NaN,159.30,183.81,183.81,183.81,274.18,274.18,274.18
1,AK,21989,21989AK0030001,0-14,63.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AK,21989,21989AK0110001,Family Option,73.82,NaN,153.54,177.16,177.16,177.16,264.27,264.27,264.27
3,AK,21989,21989AK0110001,Family Option,74.74,NaN,155.46,179.38,179.38,179.38,267.57,267.57,267.57
4,AK,21989,21989AK0110001,Family Option,75.66,NaN,157.38,181.59,181.59,181.59,270.87,270.87,270.87

In [33]:
df_rates2.isna().sum()

StateCode                                          0
IssuerId                                           0
PlanId                                             0
Age                                                0
IndividualRate                                     0
IndividualTobaccoRate                        1317760
Couple                                       2751450
PrimarySubscriberAndOneDependent             2751450
PrimarySubscriberAndTwoDependents            2751450
PrimarySubscriberAndThreeOrMoreDependents    2751450
CoupleAndOneDependent                        2751450
CoupleAndTwoDependents                       2751450
CoupleAndThreeOrMoreDependents               2751450
dtype: int64

In [34]:
df_rates2["Age"].unique()

array(['Family Option', '0-14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63',
       '64 and over'], dtype=object)

In [49]:
# Rates individuales
df_rates_individual = df_rates2[["StateCode","IssuerId", "PlanId", "Age", "IndividualRate"]].dropna().reset_index(drop = True).rename({"IndividualRate":"rate"}, axis=1)
df_rates_individual["category"] = "Individual"
print("Filas: ", df_rates_individual.shape[0])
df_rates_individual.head()

Filas:  2752441

  StateCode  IssuerId          PlanId            Age   rate    category
0        AK     21989  21989AK0110001  Family Option  76.59  Individual
1        AK     21989  21989AK0030001           0-14  63.00  Individual
2        AK     21989  21989AK0110001  Family Option  73.82  Individual
3        AK     21989  21989AK0110001  Family Option  74.74  Individual
4        AK     21989  21989AK0110001  Family Option  75.66  Individual

In [50]:
# Rates IndividualTobaccoRate
df_rates_tobacco = df_rates2[["StateCode","IssuerId", "PlanId", "Age", "IndividualTobaccoRate"]].dropna().reset_index(drop = True).rename({"IndividualTobaccoRate":"rate"}, axis=1)
df_rates_tobacco["category"] = "Tobbacco"
print("Filas: ", df_rates_tobacco.shape[0])
df_rates_tobacco.head()

Filas:  1434681

  StateCode  IssuerId          PlanId   Age    rate  category
0        AK     38344  38344AK1060001  0-14  446.73  Tobbacco
1        AK     38344  38344AK1060001    15  486.44  Tobbacco
2        AK     38344  38344AK1060001    16  501.62  Tobbacco
3        AK     38344  38344AK1060001    17  516.80  Tobbacco
4        AK     38344  38344AK1060001    18  533.16  Tobbacco

In [48]:
# Rates Couple
df_rates_couple = df_rates2[["StateCode","IssuerId", "PlanId", "Age", "Couple"]].dropna().reset_index(drop = True).rename({"Couple":"rate"}, axis=1)
df_rates_couple["category"] = "Couple"
print("Filas: ", df_rates_couple.shape[0])
df_rates_couple.head()

Filas:  991

  StateCode  IssuerId          PlanId            Age    rate category
0        AK     21989  21989AK0110001  Family Option  159.30   couple
1        AK     21989  21989AK0110001  Family Option  153.54   couple
2        AK     21989  21989AK0110001  Family Option  155.46   couple
3        AK     21989  21989AK0110001  Family Option  157.38   couple
4        AK     21989  21989AK0110001  Family Option  149.51   couple

In [51]:
# Rates OneDependent
df_rates_one_d = df_rates2[["StateCode","IssuerId", "PlanId", "Age", "PrimarySubscriberAndOneDependent"]].dropna().reset_index(drop = True).rename({"PrimarySubscriberAndOneDependent":"rate"}, axis=1)
df_rates_one_d["category"] = "OneDependent"
print("Filas: ", df_rates_one_d.shape[0])
df_rates_one_d.head()

Filas:  991

  StateCode  IssuerId          PlanId            Age    rate      category
0        AK     21989  21989AK0110001  Family Option  183.81  OneDependent
1        AK     21989  21989AK0110001  Family Option  177.16  OneDependent
2        AK     21989  21989AK0110001  Family Option  179.38  OneDependent
3        AK     21989  21989AK0110001  Family Option  181.59  OneDependent
4        AK     21989  21989AK0110001  Family Option  172.51  OneDependent

In [52]:
# Rates TwoDependent
df_rates_two_d = df_rates2[["StateCode","IssuerId", "PlanId", "Age", "PrimarySubscriberAndTwoDependents"]].dropna().reset_index(drop = True).rename({"PrimarySubscriberAndTwoDependents":"rate"}, axis=1)
df_rates_two_d["category"] = "TwoDependent"
print("Filas: ", df_rates_two_d.shape[0])
df_rates_two_d.head()

Filas:  991

  StateCode  IssuerId          PlanId            Age    rate      category
0        AK     21989  21989AK0110001  Family Option  183.81  TwoDependent
1        AK     21989  21989AK0110001  Family Option  177.16  TwoDependent
2        AK     21989  21989AK0110001  Family Option  179.38  TwoDependent
3        AK     21989  21989AK0110001  Family Option  181.59  TwoDependent
4        AK     21989  21989AK0110001  Family Option  172.51  TwoDependent

In [63]:
# Rates ThreeDependent
df_rates_3_d = df_rates2[["StateCode","IssuerId", "PlanId", "Age", "PrimarySubscriberAndThreeOrMoreDependents"]].dropna().reset_index(drop = True).rename({"PrimarySubscriberAndThreeOrMoreDependents":"rate"}, axis=1)
df_rates_3_d["category"] = "ThreOrMoreDependent"
print("Filas: ", df_rates_3_d.shape[0])
df_rates_3_d.head()

Filas:  991

,StateCode,IssuerId,PlanId,Age,rate,category
0,AK,21989,21989AK0110001,Family Option,183.81,ThreOrMoreDependent
1,AK,21989,21989AK0110001,Family Option,177.16,ThreOrMoreDependent
2,AK,21989,21989AK0110001,Family Option,179.38,ThreOrMoreDependent
3,AK,21989,21989AK0110001,Family Option,181.59,ThreOrMoreDependent
4,AK,21989,21989AK0110001,Family Option,172.51,ThreOrMoreDependent

In [59]:
# Rates CoupleAndOneDependent
df_rates_C1_d = df_rates2[["StateCode","IssuerId", "PlanId", "Age", "CoupleAndOneDependent"]].dropna().reset_index(drop = True).rename({"CoupleAndOneDependent":"rate"}, axis=1)
df_rates_C1_d["category"] = "CoupleAndOneDependent"
print("Filas: ", df_rates_C1_d.shape[0])
df_rates_C1_d.head()

Filas:  991

,StateCode,IssuerId,PlanId,Age,rate,category
0,AK,21989,21989AK0110001,Family Option,274.18,CoupleAndOneDependent
1,AK,21989,21989AK0110001,Family Option,264.27,CoupleAndOneDependent
2,AK,21989,21989AK0110001,Family Option,267.57,CoupleAndOneDependent
3,AK,21989,21989AK0110001,Family Option,270.87,CoupleAndOneDependent
4,AK,21989,21989AK0110001,Family Option,257.33,CoupleAndOneDependent

In [61]:
# Rates CoupleAndTwoDependents
df_rates_C2_d = df_rates2[["StateCode","IssuerId", "PlanId", "Age", "CoupleAndTwoDependents"]].dropna().reset_index(drop = True).rename({"CoupleAndTwoDependents":"rate"}, axis=1)
df_rates_C2_d["category"] = "CoupleAndTwoDependents"
print("Filas: ", df_rates_C2_d.shape[0])
df_rates_C2_d.head()

Filas:  991

,StateCode,IssuerId,PlanId,Age,rate,category
0,AK,21989,21989AK0110001,Family Option,274.18,CoupleAndTwoDependents
1,AK,21989,21989AK0110001,Family Option,264.27,CoupleAndTwoDependents
2,AK,21989,21989AK0110001,Family Option,267.57,CoupleAndTwoDependents
3,AK,21989,21989AK0110001,Family Option,270.87,CoupleAndTwoDependents
4,AK,21989,21989AK0110001,Family Option,257.33,CoupleAndTwoDependents

In [62]:
# Rates CoupleAndThreeOrMoreDependents
df_rates_C3_d = df_rates2[["StateCode","IssuerId", "PlanId", "Age", "CoupleAndThreeOrMoreDependents"]].dropna().reset_index(drop = True).rename({"CoupleAndThreeOrMoreDependents":"rate"}, axis=1)
df_rates_C3_d["category"] = "CoupleAndThreeOrMoreDependents"
print("Filas: ", df_rates_C3_d.shape[0])
df_rates_C3_d.head()

Filas:  991

,StateCode,IssuerId,PlanId,Age,rate,category
0,AK,21989,21989AK0110001,Family Option,274.18,CoupleAndThreeOrMoreDependents
1,AK,21989,21989AK0110001,Family Option,264.27,CoupleAndThreeOrMoreDependents
2,AK,21989,21989AK0110001,Family Option,267.57,CoupleAndThreeOrMoreDependents
3,AK,21989,21989AK0110001,Family Option,270.87,CoupleAndThreeOrMoreDependents
4,AK,21989,21989AK0110001,Family Option,257.33,CoupleAndThreeOrMoreDependents

In [69]:
# union de las tablas

lista = [df_rates_individual, 
         df_rates_tobacco, 
         df_rates_couple, 
         df_rates_one_d, 
         df_rates_two_d, 
         df_rates_3_d, 
         df_rates_C1_d, 
         df_rates_C2_d, 
         df_rates_C3_d]


df_rates3 = pd.concat(lista, ignore_index=True)
df_rates3.shape

(4194059, 6)

In [71]:
df_rates3.isna().sum()

StateCode    0
IssuerId     0
PlanId       0
Age          0
rate         0
category     0
dtype: int64

In [72]:
df_rates3["category"].unique()

array(['Individual', 'Tobbacco', 'couple', 'OneDependent', 'TwoDependent',
       'ThreOrMoreDependent', 'CoupleAndOneDependent',
       'CoupleAndTwoDependents', 'CoupleAndThreeOrMoreDependents'],
      dtype=object)

In [73]:
df_rates3.to_csv("DataSegurosP/Rates.csv", index=False)

# Plan Atributtes

In [4]:
df_atributes = pd.read_csv("Data/Plan_Attributes_PUF.csv")
df_atributes

C:\Users\chuzd\AppData\Local\Temp\ipykernel_5912\2747123427.py:1: DtypeWarning: Columns (27,64,80,81,82,86,87,88,89,90,91,111,122,123,124,125,147,148) have mixed types. Specify dtype option on import or set low_memory=False.
  df_atributes = pd.read_csv("Data/Plan_Attributes_PUF.csv")

,BusinessYear,StateCode,IssuerId,IssuerMarketPlaceMarketingName,SourceName,ImportDate,MarketCoverage,DentalOnlyPlan,StandardComponentId,PlanMarketingName,...,TEHBDedOutOfNetFamilyPerPerson,TEHBDedOutOfNetFamilyPerGroup,TEHBDedCombInnOonIndividual,TEHBDedCombInnOonFamilyPerPerson,TEHBDedCombInnOonFamilyPerGroup,IsHSAEligible,HSAOrHRAEmployerContribution,HSAOrHRAEmployerContributionAmount,URLForSummaryofBenefitsCoverage,PlanBrochure
0,2023,AK,21989,Delta Dental of Alaska,HIOS,11/19/2022 1:01,Individual,Yes,21989AK0030001,Delta Dental Premier Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,https://www.deltadentalak.com/-/media/deltaden...
1,2023,AK,21989,Delta Dental of Alaska,HIOS,11/19/2022 1:01,Individual,Yes,21989AK0030001,Delta Dental Premier Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,https://www.deltadentalak.com/-/media/deltaden...
2,2023,AK,21989,Delta Dental of Alaska,HIOS,11/19/2022 1:01,SHOP (Small Group),Yes,21989AK0030051,"Delta Dental Premier, +1500, 100*/80/50, 50, PF",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,https://www.deltadentalak.com/-/media/deltaden...
3,2023,AK,21989,Delta Dental of Alaska,HIOS,11/19/2022 1:01,SHOP (Small Group),Yes,21989AK0030052,"Delta Dental Premier, +1000, 100*/80/50, 50, PF",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,https://www.deltadentalak.com/-/media/deltaden...
4,2023,AK,21989,Delta Dental of Alaska,HIOS,11/19/2022 1:01,SHOP (Small Group),Yes,21989AK0040051,PPO Plus 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,https://www.deltadentalak.com/-/media/deltaden...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32523,2023,WY,80132,Renaissance Dental,HIOS,6/16/2022 1:01,Individual,Yes,80132WY0060004,Wyoming Preferred Plan (Pediatric Only),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
32524,2023,WY,83964,Delta Dental of Wyoming,HIOS,6/16/2022 1:01,Individual,Yes,83964WY0010003,Delta Dental Individual and Family Low Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
32525,2023,WY,83964,Delta Dental of Wyoming,HIOS,6/16/2022 1:01,Individual,Yes,83964WY0010004,Delta Dental Individual & Family High Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
32526,2023,WY,83964,Delta Dental of Wyoming,HIOS,6/16/2022 1:01,SHOP (Small Group),Yes,83964WY0020003,Delta Dental Small Group Low Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
32527,2023,WY,83964,Delta Dental of Wyoming,HIOS,6/16/2022 1:01,SHOP (Small Group),Yes,83964WY0020004,Delta Dental Small Group High Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,

In [7]:
df_atributes.shape

(32528, 151)

In [6]:
df_atributes["DesignType"].unique()

array([nan, 'Not Applicable', 'Design 1', 'Design 2', 'Design 3'],
      dtype=object)

In [8]:
df_atributes["DentalOnlyPlan"].unique()

array(['Yes', 'No'], dtype=object)

In [12]:
df_atributes["SourceName"].unique()

array(['HIOS', 'SERFF'], dtype=object)

In [16]:
df_atributes["QHPNonQHPTypeId"].unique()

array(['Both', 'Off the Exchange', 'On the Exchange'], dtype=object)

In [20]:
df_atributes["IsNoticeRequiredForPregnancy"].isna().sum()

1584

In [22]:
df_atributes["SpecialistRequiringReferral"].unique()

array([nan, 'All specialists seen in an office setting, excluding OB/GYN',
       'All specialists seen in an office setting, excluding OB/GYN.',
       'All, except OBGYN and as state mandated',
       'You must select a network PCP and notify BCBSAZ of your selection. PCP referral required for all Specialists except OB/GYN, Chiropractors, Outpatient Behavioral Health providers, Physical Therapy, Occupational Therapy, Speech Therapy, Cognitive Therapy (PT, OT, ST, CT) and Cardiac and Pulmonary Rehabilitative and Habilitative Services, Pediatric Dental and Vision services, Telehealth and Urgent Care services, Walk-in Clinics, and Emergency services.',
       'All',
       'Referral required for all physicians EXCEPT OB/GYN, ER, Internal Medicine, Family Practice, General Medicine and Pediatrician.',
       'All except OB/Gyn, Chiropractor, and Podiatrist for diabetic foot care.',
       'All Specialists require a referral with the exception of Chiropractors, Podiatrists, Dermatologists and Obstetric/Gynecologists.',
       'All Specialists require a referral with the exception of Chiropractors, Podiatrists, Dermatologists and Obstetric/Gynecologists',
       'All Specialties except Podiatry, Chiropractic, Dermatology (first 5 visits), Obstetrician and Gynecologist (OB/GYN)',
       'The member\'s PCP will refer to all specialists, except those listed as "Direct Access" specialists.',
       'All except for mental or behavioral health services, obstetrical or gynecological treatment.',
       'You do not need a Referral or approval from Your PCP to see an Obstetrician/Gynecologist (OB/GYN), Dermatologist, or eye care professionals including Optometrists and Ophthalmologists.',
       'All specialists except Dermatology, Behavioral Health, Optometry, Ophthamology, Obestetrical and Gynecology require a referral.',
       'Referral required for certain specialists',
       'All Specialist Providers',
       'Specialists (IN) will require a referral except OB-GYN and Optometrists',
       'Specialists (IN) may require a referral except OB-GYN and Optometrists',
       'All specialists (IN) may require a referral except OB-GYN and Optometrists',
       'All Specialties except  Obstetrician and Gynecologist (OB/GYN)',
       'Referrals are required for some services. Please check with your Medical Group for details.',
       'All Specialist',
       'All specialty services with the exception of behavioral health and addiction/substance abuse services',
       'Except for in-network care for behavioral health and substance use disorder services, you need to obtain a referral or standing referral from your Primary Care Provider before you obtain specialty care.',
       'Referral required for all physicians EXCEPT PCP, OB/GYN, Pediatrician and MH/SUD providers.',
       'All except for mental or behavioral health services, obstetrical or gynecological treatment',
       'All except routine OB/GYN & pediatric visits',
       'A referral is needed for all specialists except for OB/GYN, Chiropractic Care, Routine Eye Exams, and Mental Health Providers.',
       'All Non-PCP Providers',
       'A provider focusing on a specific area of medicine or a group of patients to diagnose, manage, prevent, or treat certain types of symptoms and conditions.',
       'A referral is not required for outpatient Services provided in the following departments: Cancer Counseling, Chemical Dependency Services., Mental Health Services., Obstetrics/Gynecology, Occupational Health., Ophthalmology, and Optometry (routine eye exams), and Social Services.',
       'Cardiology, Cardiovascular (Heart, Blood Vessels),ENT (Ears, Nose, Throat),Hematology (Blood),Oncology (Cancer),Otology (Ears),Genetics (Inherited Diseases, Birth Defects),Pulmonology (Lungs, Breathing),Gastroenterology (Stomach, Digestion),Neurology (Brain, Nervous System), Allergist (Allergies),Chiropractor (Bones, Joints),Rheumatologist (Joints, Muscles, Tendons),Urology (Urinary Tract),Surgery (Operations),Radiology (X-Rays),Podiatry (Feet, Toenails),Optometrist (Eyes, Glasses),Otolaryngology (Ear, Nose, and Throat),Orthopedics (Bones and Joints),Ophthalmology (Eyes), Neurosurgery (Operations of the Brain, Spinal Cord),Nuclear Medicine (Testing, e.g.,. MRI, CAT scan),Nephrology (Kidney), Endocrinology (Glands),Dermatology (Skin),Cardiothoracic Surgery (Operations of the Heart and Chest),Ambulatory Medicine (General Non-emergency Care),Immunology (Immune System),Infectious Diseases (Viral/Bacterial Infections),Neonatology/Perinatology (Fetus and Newborns),Oral-Maxillofacial Surgery (Jaw and Mouth),Physical Medicine (Rehabilitation),Plastic Surgery (Corrective Surgery),Retrovirology (Viral Diseases, AIDS),Adolescent Medicine (Teenagers),Sports Medicine (Sports Injuries),Nutrition/GI (Eating, Digestion),Colon/Rectal Surgery (Bowels),Thoracic Surgery (Chest Surgery),Hepatology (Liver),Vascular Surgery (Operations of the Blood Vessels)',
       'Referrals are required for all Plan specialists with the exception of OB/GYN, Mental Health, Alcohol/Chemical Dependency, Routine Eye Exams.',
       'Allergy, Asthma, Audiology, Cardiovascular, Dermatology, ENT/Otolaryngology, Endocrinology, Gastroenterology, General Surgery, Geriatrics, Hematology, Immunology, Infectious Diseases, Nephrology, Neurology , Neurosurgery, Medical Oncology, Ophthalmology, Orthopedics, Pain Management, Peripheral Vascular, Perinatology, Plastic Surgery, Pulmonology, Radiation Oncology, Rheumatology, Speech Therapy, Spine Medicine, Sports Medicine, Transplant Surgery/Medicine, Urology, Vascular Surgery, All out of area specialty care'],
      dtype=object)

In [21]:
df_atributes["IsNoticeRequiredForPregnancy"].unique()

array([nan, 'No', 'Yes'], dtype=object)

In [32]:
df_atributes["ChildOnlyPlanId"].unique()

array([nan, 'No'], dtype=object)

In [33]:
df_atributes["ChildOnlyPlanId"].isna().sum()

32497

In [35]:
df_atributes["ChildOnlyOffering"].unique()

array(['Allows Adult and Child-Only', 'Allows Child-Only',
       'Allows Adult-Only'], dtype=object)

In [43]:
df_atributes["OutOfCountryCoverage"].unique()

array(['Yes', 'No'], dtype=object)

In [46]:
df_atributes["CSRVariationType"].unique()

array(['Standard Low On Exchange Plan', 'Standard Low Off Exchange Plan',
       'Standard High Off Exchange Plan',
       'Standard High On Exchange Plan',
       'Limited Cost Sharing Plan Variation',
       'Zero Cost Sharing Plan Variation',
       'Standard Gold On Exchange Plan', '87% AV Level Silver Plan',
       '94% AV Level Silver Plan', 'Standard Silver On Exchange Plan',
       '73% AV Level Silver Plan', 'Standard Bronze On Exchange Plan',
       'Standard Gold Off Exchange Plan',
       'Standard Silver Off Exchange Plan',
       'Standard Bronze Off Exchange Plan',
       'Standard Platinum Off Exchange Plan',
       'Standard Platinum On Exchange Plan',
       'Standard Catastrophic On Exchange Plan',
       'Standard Catastrophic Off Exchange Plan',
       'Standard Expanded Bronze Off Exchange Plan',
       'Standard Expanded Bronze On Exchange Plan'], dtype=object)

Aqu√≠ hacemos eliminamos los seguros que no sean dentales y eliminamos las columnas que nos nos servir√°n.

Tambi√©n eliminaremos todos los seguros de empleados porque nuestro consumidores son las personas individuales y empresas, que buscan contratar un seguro en su estado.

In [63]:
df_atributes2 = (
    df_atributes[df_atributes["DentalOnlyPlan"] == "No"]
    .drop(columns=["BusinessYear", 
                    "SourceName", 
                    "ImportDate", 
                    "DesignType", 
                    "HIOSProductId", 
                    "ServiceAreaId", 
                    "FormularyId", 
                    "IsNewPlan", 
                    "UniquePlanDesign", 
                    "SpecialistRequiringReferral", 
                    "URLForSummaryofBenefitsCoverage", 
                    "PlanBrochure", 
                    "IndianPlanVariationEstimatedAdvancedPaymentAmountPerEnrollee",
                    "CompositeRatingOffered", 
                    "ChildOnlyPlanId", 
                    "WellnessProgramOffered",
                    "EHBPercentTotalPremium", 
                    "EHBPediatricDentalApportionmentQuantity", 
                    "IsGuaranteedRate", 
                    "PlanEffectiveDate",
                    "PlanExpirationDate", 
                    "OutOfCountryCoverageDescription", 
                    "OutOfServiceAreaCoverageDescription", 
                    "OutOfServiceAreaCoverage", 
                    "URLForEnrollmentPayment",
                    "FormularyURL", 
                    "PlanVariantMarketingName", 
                    "CSRVariationType",
                    "HSAOrHRAEmployerContribution",
                    "HSAOrHRAEmployerContributionAmount", 
                    "MEHBInnTier1IndividualMOOP",
                    "MEHBInnTier1FamilyPerPersonMOOP",
                    "MEHBInnTier1FamilyPerGroupMOOP",
                    "MEHBInnTier2IndividualMOOP",
                    "MEHBInnTier2FamilyPerPersonMOOP",
                    "MEHBInnTier2FamilyPerGroupMOOP",
                    "MEHBOutOfNetIndividualMOOP",
                    "MEHBOutOfNetFamilyPerPersonMOOP",
                    "MEHBOutOfNetFamilyPerGroupMOOP",
                    "MEHBCombInnOonIndividualMOOP",
                    "MEHBCombInnOonFamilyPerPersonMOOP",
                    "MEHBCombInnOonFamilyPerGroupMOOP",
                    "DEHBInnTier1IndividualMOOP",
                    "DEHBInnTier1FamilyPerPersonMOOP",
                    "DEHBInnTier1FamilyPerGroupMOOP",
                    "DEHBInnTier2IndividualMOOP",
                    "DEHBInnTier2FamilyPerPersonMOOP",
                    "DEHBInnTier2FamilyPerGroupMOOP",
                    "DEHBOutOfNetIndividualMOOP",
                    "DEHBOutOfNetFamilyPerPersonMOOP",
                    "DEHBOutOfNetFamilyPerGroupMOOP",
                    "DEHBCombInnOonIndividualMOOP",
                    "DEHBCombInnOonFamilyPerPersonMOOP",
                    "DEHBCombInnOonFamilyPerGroupMOOP",
                    "TEHBInnTier1IndividualMOOP",
                    "TEHBInnTier1FamilyPerPersonMOOP",
                    "TEHBInnTier1FamilyPerGroupMOOP",
                    "TEHBInnTier2IndividualMOOP",
                    "TEHBInnTier2FamilyPerPersonMOOP",
                    "TEHBInnTier2FamilyPerGroupMOOP",
                    "TEHBOutOfNetIndividualMOOP",
                    "TEHBOutOfNetFamilyPerPersonMOOP",
                    "TEHBOutOfNetFamilyPerGroupMOOP",
                    "TEHBCombInnOonIndividualMOOP",
                    "TEHBCombInnOonFamilyPerPersonMOOP",
                    "TEHBCombInnOonFamilyPerGroupMOOP",
                    "MEHBDedInnTier1Individual",
                    "MEHBDedInnTier1FamilyPerPerson",
                    "MEHBDedInnTier1FamilyPerGroup",
                    "MEHBDedInnTier1Coinsurance",
                    "MEHBDedInnTier2Individual",
                    "MEHBDedInnTier2FamilyPerPerson",
                    "MEHBDedInnTier2FamilyPerGroup",
                    "MEHBDedInnTier2Coinsurance",
                    "MEHBDedOutOfNetIndividual",
                    "MEHBDedOutOfNetFamilyPerPerson",
                    "MEHBDedOutOfNetFamilyPerGroup",
                    "MEHBDedCombInnOonIndividual",
                    "MEHBDedCombInnOonFamilyPerPerson",
                    "MEHBDedCombInnOonFamilyPerGroup",
                    "DEHBDedInnTier1Individual",
                    "DEHBDedInnTier1FamilyPerPerson",
                    "DEHBDedInnTier1FamilyPerGroup",
                    "DEHBDedInnTier1Coinsurance",
                    "DEHBDedInnTier2Individual",
                    "DEHBDedInnTier2FamilyPerPerson",
                    "DEHBDedInnTier2FamilyPerGroup",
                    "DEHBDedInnTier2Coinsurance",
                    "DEHBDedOutOfNetIndividual",
                    "DEHBDedOutOfNetFamilyPerPerson",
                    "DEHBDedOutOfNetFamilyPerGroup",
                    "DEHBDedCombInnOonIndividual",
                    "DEHBDedCombInnOonFamilyPerPerson",
                    "DEHBDedCombInnOonFamilyPerGroup",
                    "TEHBDedInnTier1Individual",
                    "TEHBDedInnTier1FamilyPerPerson",
                    "TEHBDedInnTier1FamilyPerGroup",
                    "TEHBDedInnTier1Coinsurance",
                    "TEHBDedInnTier2Individual",
                    "TEHBDedInnTier2FamilyPerPerson",
                    "TEHBDedInnTier2FamilyPerGroup",
                    "TEHBDedInnTier2Coinsurance",
                    "TEHBDedOutOfNetIndividual",
                    "TEHBDedOutOfNetFamilyPerPerson",
                    "TEHBDedOutOfNetFamilyPerGroup",
                    "TEHBDedCombInnOonIndividual",
                    "TEHBDedCombInnOonFamilyPerPerson",
                    "TEHBDedCombInnOonFamilyPerGroup",
                    "FirstTierUtilization",
                    "SecondTierUtilization",
                    "SBCHavingaBabyDeductible",
                    "SBCHavingaBabyCopayment",
                    "SBCHavingaBabyCoinsurance",
                    "SBCHavingaBabyLimit",
                    "SBCHavingDiabetesDeductible",
                    "SBCHavingDiabetesCopayment",
                    "SBCHavingDiabetesCoinsurance",
                    "SBCHavingDiabetesLimit",
                    "SBCHavingSimplefractureDeductible",
                    "SBCHavingSimplefractureCopayment",
                    "SBCHavingSimplefractureCoinsurance",
                    "SBCHavingSimplefractureLimit",
                    "SpecialtyDrugMaximumCoinsurance",
                    "InpatientCopaymentMaximumDays", 
                    "AVCalculatorOutputNumber",
                    "MedicalDrugDeductiblesIntegrated",
                    "MedicalDrugMaximumOutofPocketIntegrated", 
                    "MultipleInNetworkTiers"
                   ]).drop_duplicates(ignore_index=True)
    )
df_atributes2.shape

(30944, 23)

In [62]:
for i in df_atributes2.columns: 
    print("\"" + i + "\",")

"StateCode",
"IssuerId",
"IssuerMarketPlaceMarketingName",
"MarketCoverage",
"DentalOnlyPlan",
"StandardComponentId",
"PlanMarketingName",
"NetworkId",
"PlanType",
"MetalLevel",
"QHPNonQHPTypeId",
"IsNoticeRequiredForPregnancy",
"IsReferralRequiredForSpecialist",
"PlanLevelExclusions",
"ChildOnlyOffering",
"DiseaseManagementProgramsOffered",
"OutOfCountryCoverage",
"NationalNetwork",
"PlanId",
"IssuerActuarialValue",
"MultipleInNetworkTiers",
"BeginPrimaryCareCostSharingAfterNumberOfVisits",
"BeginPrimaryCareDeductibleCoinsuranceAfterNumberOfCopays",
"IsHSAEligible",

In [64]:
df_atributes2.head()

,StateCode,IssuerId,IssuerMarketPlaceMarketingName,MarketCoverage,DentalOnlyPlan,StandardComponentId,PlanMarketingName,NetworkId,PlanType,MetalLevel,...,PlanLevelExclusions,ChildOnlyOffering,DiseaseManagementProgramsOffered,OutOfCountryCoverage,NationalNetwork,PlanId,IssuerActuarialValue,BeginPrimaryCareCostSharingAfterNumberOfVisits,BeginPrimaryCareDeductibleCoinsuranceAfterNumberOfCopays,IsHSAEligible
0,AK,38344,Premera Blue Cross Blue Shield of Alaska,Individual,No,38344AK1060001,Premera Blue Cross Preferred Gold 1500,AKN001,PPO,Gold,...,NaN,Allows Adult and Child-Only,"Asthma, Heart Disease, Diabetes",Yes,No,38344AK1060001-03,79.18%,2,0,No
1,AK,38344,Premera Blue Cross Blue Shield of Alaska,Individual,No,38344AK1060001,Premera Blue Cross Preferred Gold 1500,AKN001,PPO,Gold,...,NaN,Allows Adult and Child-Only,"Asthma, Heart Disease, Diabetes",Yes,No,38344AK1060001-02,100.00%,2,0,No
2,AK,38344,Premera Blue Cross Blue Shield of Alaska,Individual,No,38344AK1060001,Premera Blue Cross Preferred Gold 1500,AKN001,PPO,Gold,...,NaN,Allows Adult and Child-Only,"Asthma, Heart Disease, Diabetes",Yes,No,38344AK1060001-01,79.18%,2,0,No
3,AK,38344,Premera Blue Cross Blue Shield of Alaska,Individual,No,38344AK1060002,Premera Blue Cross Preferred Silver 4500,AKN001,PPO,Silver,...,NaN,Allows Adult and Child-Only,"Asthma, Heart Disease, Diabetes",Yes,No,38344AK1060002-03,70.96%,2,0,No
4,AK,38344,Premera Blue Cross Blue Shield of Alaska,Individual,No,38344AK1060002,Premera Blue Cross Preferred Silver 4500,AKN001,PPO,Silver,...,NaN,Allows Adult and Child-Only,"Asthma, Heart Disease, Diabetes",Yes,No,38344AK1060002-05,87.13%,2,0,No

In [68]:
df_atributes2["PlanId"].nunique()

30944

In [67]:
df_atributes2.isna().sum()

StateCode                                                       0
IssuerId                                                        0
IssuerMarketPlaceMarketingName                                  0
MarketCoverage                                                  0
DentalOnlyPlan                                                  0
StandardComponentId                                             0
PlanMarketingName                                               0
NetworkId                                                       0
PlanType                                                        0
MetalLevel                                                      0
QHPNonQHPTypeId                                                 0
IsNoticeRequiredForPregnancy                                    0
IsReferralRequiredForSpecialist                                 0
PlanLevelExclusions                                         27268
ChildOnlyOffering                                               0
DiseaseManagementProgramsOffered                             3643
OutOfCountryCoverage                                            0
NationalNetwork                                                 0
PlanId                                                          0
IssuerActuarialValue                                        19716
BeginPrimaryCareCostSharingAfterNumberOfVisits                  0
BeginPrimaryCareDeductibleCoinsuranceAfterNumberOfCopays        0
IsHSAEligible                                                   0
dtype: int64

# Benefits

In [69]:
df_benefits = pd.read_csv("Data/Benefits_Cost_Sharing_PUF.csv")

print("Dimensiones: ", df_benefits.shape)
df_benefits.head()

C:\Users\chuzd\AppData\Local\Temp\ipykernel_5912\850547652.py:1: DtypeWarning: Columns (9,12,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_benefits = pd.read_csv("Data/Benefits_Cost_Sharing_PUF.csv")

Dimensiones:  (2219416, 24)

,BusinessYear,StateCode,IssuerId,SourceName,ImportDate,StandardComponentId,PlanId,BenefitName,CopayInnTier1,CopayInnTier2,...,IsEHB,IsCovered,QuantLimitOnSvc,LimitQty,LimitUnit,Exclusions,Explanation,EHBVarReason,IsExclFromInnMOOP,IsExclFromOonMOOP
0,2023,AK,21989,HIOS,2022-11-19 01:01:13,21989AK0030001,21989AK0030001-00,Routine Dental Services (Adult),Not Applicable,NaN,...,NaN,Covered,Yes,1100.0,Dollars per Year,NaN,"$1,100 annual maximum plan payment limit combi...",Not EHB,Yes,Yes
1,2023,AK,21989,HIOS,2022-11-19 01:01:13,21989AK0030001,21989AK0030001-00,Dental Check-Up for Children,Not Applicable,NaN,...,Yes,Covered,NaN,NaN,NaN,NaN,See policy for additional limitations,Substantially Equal,No,No
2,2023,AK,21989,HIOS,2022-11-19 01:01:13,21989AK0030001,21989AK0030001-00,Basic Dental Care - Child,Not Applicable,NaN,...,Yes,Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No
3,2023,AK,21989,HIOS,2022-11-19 01:01:13,21989AK0030001,21989AK0030001-00,Orthodontia - Child,Not Applicable,NaN,...,Yes,Covered,NaN,NaN,NaN,NaN,Only medically necessary orthodontia is covered,Substantially Equal,No,No
4,2023,AK,21989,HIOS,2022-11-19 01:01:13,21989AK0030001,21989AK0030001-00,Major Dental Care - Child,Not Applicable,NaN,...,Yes,Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No

In [71]:
print("Columnas:")
for i in df_benefits.columns: 
    print(i)

Columnas:
BusinessYear
StateCode
IssuerId
SourceName
ImportDate
StandardComponentId
PlanId
BenefitName
CopayInnTier1
CopayInnTier2
CopayOutofNet
CoinsInnTier1
CoinsInnTier2
CoinsOutofNet
IsEHB
IsCovered
QuantLimitOnSvc
LimitQty
LimitUnit
Exclusions
Explanation
EHBVarReason
IsExclFromInnMOOP
IsExclFromOonMOOP

In [72]:
df_benefits["PlanId"].nunique()

32528

Vamos a eliminar los seguros dentales de df_benefits, a partir de los PlanIds de df_atributtes2 porque estos contienen las variables de los seguros que no son dentales.

In [75]:
df_benefits2 = df_benefits[df_benefits["PlanId"].isin(df_atributes2["PlanId"])]
df_benefits2["PlanId"].nunique()

30944

In [76]:
df_benefits2.isna().sum()

BusinessYear                 0
StateCode                    0
IssuerId                     0
SourceName                   0
ImportDate                   0
StandardComponentId          0
PlanId                       0
BenefitName                  0
CopayInnTier1           499182
CopayInnTier2          1836892
CopayOutofNet           499182
CoinsInnTier1           499182
CoinsInnTier2          1836892
CoinsOutofNet           499182
IsEHB                   568248
IsCovered               124943
QuantLimitOnSvc        1602310
LimitQty               1911664
LimitUnit              1911631
Exclusions             2068644
Explanation            1525890
EHBVarReason           1666610
IsExclFromInnMOOP       386042
IsExclFromOonMOOP       385620
dtype: int64

In [77]:
df_benefits2.head()

,BusinessYear,StateCode,IssuerId,SourceName,ImportDate,StandardComponentId,PlanId,BenefitName,CopayInnTier1,CopayInnTier2,...,IsEHB,IsCovered,QuantLimitOnSvc,LimitQty,LimitUnit,Exclusions,Explanation,EHBVarReason,IsExclFromInnMOOP,IsExclFromOonMOOP
261,2023,AK,38344,HIOS,2022-12-20 01:00:48,38344AK1060001,38344AK1060001-01,Primary Care Visit to Treat an Injury or Illness,$30.00,Not Applicable,...,Yes,Covered,No,NaN,NaN,NaN,The first 2 visits to a designated primary car...,Additional EHB Benefit,No,No
262,2023,AK,38344,HIOS,2022-12-20 01:00:48,38344AK1060001,38344AK1060001-01,Specialist Visit,$60.00,Not Applicable,...,Yes,Covered,No,NaN,NaN,NaN,NaN,NaN,No,No
263,2023,AK,38344,HIOS,2022-12-20 01:00:48,38344AK1060001,38344AK1060001-01,"Other Practitioner Office Visit (Nurse, Physic...",$30.00,Not Applicable,...,Yes,Covered,No,NaN,NaN,NaN,Covered only when the provider is licensed to ...,NaN,No,No
264,2023,AK,38344,HIOS,2022-12-20 01:00:48,38344AK1060001,38344AK1060001-01,"Outpatient Facility Fee (e.g., Ambulatory Surg...",Not Applicable,Not Applicable,...,Yes,Covered,No,NaN,NaN,NaN,NaN,NaN,No,No
265,2023,AK,38344,HIOS,2022-12-20 01:00:48,38344AK1060001,38344AK1060001-01,Outpatient Surgery Physician/Surgical Services,Not Applicable,Not Applicable,...,Yes,Covered,No,NaN,NaN,NaN,NaN,NaN,No,No

In [78]:
df_benefits2["BenefitName"].unique()

array(['Primary Care Visit to Treat an Injury or Illness',
       'Specialist Visit',
       'Other Practitioner Office Visit (Nurse, Physician Assistant)',
       'Outpatient Facility Fee (e.g., Ambulatory Surgery Center)',
       'Outpatient Surgery Physician/Surgical Services',
       'Hospice Services', 'Chemotherapy', 'Radiation',
       'Diabetes Education', 'Prosthetic Devices', 'Infusion Therapy',
       'Treatment for Temporomandibular Joint Disorders',
       'Nutritional Counseling', 'Reconstructive Surgery',
       'Gender Affirming Care', 'Generic Drugs', 'Preferred Brand Drugs',
       'Non-Preferred Brand Drugs', 'Specialty Drugs',
       'Outpatient Rehabilitation Services', 'Habilitation Services',
       'Chiropractic Care', 'Acupuncture', 'Weight Loss Programs',
       'Routine Eye Exam for Children', 'Eye Glasses for Children',
       'Dental Check-Up for Children', 'Rehabilitative Speech Therapy',
       'Rehabilitative Occupational and Rehabilitative Physical Therapy',
       'Well Baby Visits and Care', 'Routine Dental Services (Adult)',
       'Infertility Treatment', 'Long-Term/Custodial Nursing Home Care',
       'Private-Duty Nursing', 'Routine Eye Exam (Adult)',
       'Urgent Care Centers or Facilities', 'Home Health Care Services',
       'Emergency Room Services', 'Emergency Transportation/Ambulance',
       'Inpatient Hospital Services (e.g., Hospital Stay)',
       'Inpatient Physician and Surgical Services',
       'Basic Dental Care - Child', 'Orthodontia - Child',
       'Major Dental Care - Child', 'Basic Dental Care - Adult',
       'Orthodontia - Adult', 'Major Dental Care - Adult',
       'Abortion for Which Public Funding is Prohibited', 'Transplant',
       'Accidental Dental', 'Dialysis', 'Allergy Testing',
       'Bariatric Surgery', 'Cosmetic Surgery',
       'Skilled Nursing Facility', 'Prenatal and Postnatal Care',
       'Delivery and All Inpatient Services for Maternity Care',
       'Mental/Behavioral Health Outpatient Services',
       'Mental/Behavioral Health Inpatient Services',
       'Substance Abuse Disorder Outpatient Services',
       'Substance Abuse Disorder Inpatient Services',
       'Durable Medical Equipment', 'Hearing Aids',
       'Imaging (CT/PET Scans, MRIs)',
       'Preventive Care/Screening/Immunization', 'Routine Foot Care',
       'Laboratory Outpatient and Professional Services',
       'X-rays and Diagnostic Imaging', 'Transplant Donor Coverage',
       'Autism Spectrum Disorders', 'Mammography',
       'Cardiovascular Disease', 'Osteoporosis',
       'Diabetes Care Management', 'Inherited Metabolic Disorder - PKU',
       'Mental/Behavioral Health Emergency Room',
       'Substance Use Disorder Emergency Room',
       'Mental/Behavioral Health ER Physician Fee',
       'Substance Use Disorder ER Physician Fee',
       'Mental/Behavioral Health Emergency Transportation/Ambulance',
       'Substance Use Disorder Emergency Transportation/Ambulance',
       'Mental/Behavioral Health Urgent Care',
       'Substance Use Disorder Urgent Care',
       'Mental/Behavioral Health Outpatient Other Services',
       'Substance Use Disorder Outpatient Other Services',
       'Eyeglasses for Adults', 'Eye Glasses - Adult',
       'Off Label Prescription Drugs', 'Mental Health Other',
       'Prescription Drugs Other', 'Post-Mastectomy Care', 'Brain Injury',
       'Pediatric Services Other', 'Clinical Trials',
       'Routine Hearing Exam', 'Biomarker Testing', 'Wigs',
       'Eye Glasses for Adults', 'Tier 2 Generic Drugs',
       'Dental Anesthesia',
       'Congenital Anomaly, including Cleft Lip/Palate',
       'Bone Marrow Transplant', 'Nutrition/Formulas',
       'Mental Health Office Visit', 'Substance Abuse Office Visit',
       'Anesthesia Services for Dental Care',
       'Enteral/Parenteral and Oral Nutrition Therapy',
       'Osteoporosis Treatment', 'Cardiac and Pulmonary Rehabilitation',
       'Preferred Generic Drugs', 'Genetic Testing Lab Services',
       'Hyperbaric Oxygen Therapy', 'Outpatient Observation',
       'Partial Hospitalization', 'Fitness Center Membership',
       'Mammogram', 'Mastectomy', 'Child Health Supervision',
       'Enteral Formulas', 'Contraceptive Injections', 'Orthotic Devices',
       'Tier 2 Generics', 'Well Child Care', 'Heart Transplant',
       'Substance Use Disorder Emergency Transportation/Ambulance\t',
       'Mental/Behavioral Health Urgent Care\t',
       'Substance Use Disorder Emergency Room\t',
       'Mental/Behavioral Health ER Physician Fee\t',
       'Substance Use Disorder ER Physician Fee\t',
       'Mental/Behavioral Health Emergency Transportation/Ambulance\t',
       'Substance Use Disorder Urgent Care\t', 'Eyeglasses for Adults\t',
       'Autism Spectrum Disorders\t', 'Bone Marrow Transplant\t',
       'Clinical Trials\t', 'Diabetes Care Management\t',
       'Well Child Care\t',
       'Mental/Behavioral Health Outpatient Other Services\t',
       'Substance Use Disorder Outpatient Other Services\t',
       'Mental/Behavioral Health Emergency Room\t',
       'Bone Marrow Transplant\t\t',
       'Applied Behavior Analysis Based Therapies',
       'Morbid Obesity Treatment',
       'Non-Emergency Care When Traveling Outside the U.S.',
       'Attention Deficit Disorder', 'Fitness Benefit - Adult',
       'Bone Marrow Testing', 'Newborn Hearing Screening',
       'Newborn Services Other', 'Early Intervention Services',
       'Tier-2 Generic Drugs',
       'Mental/Behavioral Health Outpatient Other Services \t',
       'Mental/Behavioral Health Emergency Room \t',
       'Substance Use Disorder Emergency Room \t',
       'Mental/Behavioral Health ER Physician Fee \t',
       'Substance Use Disorder ER Physician Fee \t',
       'Mental/Behavioral Health Emergency Transportation/Ambulance \t',
       'Substance Use Disorder Emergency Transportation/Ambulance \t',
       'Mental/Behavioral Health Urgent Care \t',
       'Substance Use Disorder Urgent Care \t', 'Tier 2 Generic Drugs\t',
       'Cardiac Rehabilitation', 'Inpatient Rehabilitation', 'Tier 2 Rx',
       'Tier 6 Rx', 'Prenatal and Postnatal Care - Non-Global Maternity',
       'Tier 2 Rx\t', 'Tier 6 Rx\t',
       'Prenatal and Postnatal Care - Non-Global Maternity\t',
       'Sterilization', 'Blood and Blood Services', 'Anesthetics',
       'Pulmonary Rehabilitation',
       'Orthotic Devices for Positional Plagiocephaly',
       'Organ Donor Search', 'Diagnosis and Treatment of Lymphedema',
       'Sexual Dysfunction',
       'Substance Abuse Disorder Outpatient Other Services',
       'Diabetes Supplies', 'Habilitation - Autism',
       'Habilitaton - Autism', 'Virtual Visit',
       'Post-cochlear implant aural therapy', 'Ostomy Supplies',
       'Autism Spectrum Disorders - Intenstive Level Services',
       'Autism Spectrum Disorders - Non-Intensive Level Services',
       'Autism Spectrum Disorders - Intensive Level Services',
       'Post-Cochlear Implant and Aural Therapy', 'Cochlear Implants',
       'Routine Dental Services - Child',
       'Post-Cochlear Implant Aural Rehabilitation Therapy',
       'Pulmonary Rehabilitation Therapy',
       'Gastric Electrical Stimulation', 'Craniofacial Surgery',
       'Specialty Drugs Tier 2', 'Preventive Drugs', 'Preventative Drugs',
       'Cancer Monitoring Test', 'Reversible Contraceptives',
       'School Based Health Centers',
       'Dental Services for Children with Severe Disabilities',
       'Orthodontic Services to Treat Orofacial Anomalies', 'Telehealth',
       'Orthodontic Services to Treat Orofacial Anomolies',
       'Generic Drugs Other', 'Specialty Laboratory Services',
       'Testing Services', 'Active & Fit', 'Adult Optical (hardware)',
       'Massage Therapy', 'Organ Transplants', 'Bones/Joints',
       'Breast Implant Removal', 'Multiple Sclerosis',
       'Naprapathic Service',
       'Multiple Sclerosis Preventative Physical Therapy',
       'Amino Acid-Based Elemental Formulas', 'Virtual Visits',
       'Non Preferred Specialty Drugs', 'Eyeglasses',
       'Mental Health - Intermediate',
       'Substance Use Disorders - Intermediate', 'Telemedicine Services',
       'Non-Preferred Specialty Drugs', 'Non-Preferred Generic Drugs',
       'Tier 2 Specialty Drugs', 'Inherited Metabolic Disorders - PKU',
       'Inpatient Rehabilitation Services', 'Low Protein Foods',
       'Convenience Care Clinic', 'ER Diagnostic Test (X-Ray)',
       'ER Diagnostic Test Lab-work/Other', 'ER Imaging Test',
       'ER Physician Fee', 'Telehealth - Primary Care Visit',
       'Telehealth - Specialist Visit', 'Telehealth - PCP',
       'Telehealth - Specialist', 'Telehealth - Specialty',
       'Tier 1-Zero Cost-Share Preventive Drugs',
       'Tier 2-Preferred Generic Drugs',
       'Tier 3-Non-Preferred Generic Drugs',
       'Tier 4-Preferred Brand Drugs', 'Tier 5-Non-Preferred Brand Drugs',
       'Tier 6-Preferred Specialty Drugs',
       'Tier 7-Non-Preferred Specialty Drugs',
       'Telehealth-Primary Care Visit', 'Telehealth-Specialist Visit',
       'Telehealth-Office Visit', 'Chronic Pain Treatment'], dtype=object)

In [85]:
df_benefits3 = df_benefits2[[
    "StateCode",
    "IssuerId",
    "StandardComponentId",
    "PlanId",
    "BenefitName"
    ]]

df_benefits3.nunique()

StateCode                 33
IssuerId                 220
StandardComponentId     6366
PlanId                 30944
BenefitName              250
dtype: int64

In [123]:
grupo_beneficios = df_benefits3.groupby(["StateCode", "IssuerId", "StandardComponentId", "PlanId"]).size().reset_index(name='counts')

grupo_beneficios.shape

grupo_beneficios.nunique()

grupo_beneficios["counts"].unique()

array([68, 78, 79, 69, 89, 90, 74, 84, 85, 73, 77, 71, 75, 80, 86, 87, 72,
       88, 76, 70, 81, 82, 67], dtype=int64)