# ETLs

In [1]:
import pandas as pd
import numpy as np

In [2]:
states = ['CA', 'TX', 'FL', 'NY', 'PA', 'IL', 'OH', 'GA', 'NC', 'MI', 'NJ', 'VA', 'WA', 'AZ', 'MA', 'TN']

### TABLA SEGUROS

In [3]:
df_benefic = pd.read_csv('Data\Benefits_Cost_Sharing_PUF.csv')

C:\Users\chuzd\AppData\Local\Temp\ipykernel_18668\839805391.py:1: DtypeWarning: Columns (9,12,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_benefic = pd.read_csv('Data\Benefits_Cost_Sharing_PUF.csv')

In [4]:
df_benefic = df_benefic[df_benefic["StateCode"].isin(states)]
df_benefic.head()

,BusinessYear,StateCode,IssuerId,SourceName,ImportDate,StandardComponentId,PlanId,BenefitName,CopayInnTier1,CopayInnTier2,...,IsEHB,IsCovered,QuantLimitOnSvc,LimitQty,LimitUnit,Exclusions,Explanation,EHBVarReason,IsExclFromInnMOOP,IsExclFromOonMOOP
2139,2023,TX,71837,HIOS,2022-11-08 01:01:25,71837TX0010001,71837TX0010001-01,Major Dental Care - Child,Not Applicable,NaN,...,Yes,Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No
2140,2023,TX,71837,HIOS,2022-11-08 01:01:25,71837TX0010001,71837TX0010001-01,Basic Dental Care - Adult,NaN,NaN,...,NaN,Not Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No
2141,2023,TX,71837,HIOS,2022-11-08 01:01:25,71837TX0010001,71837TX0010001-01,Orthodontia - Adult,NaN,NaN,...,NaN,Not Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No
2142,2023,TX,71837,HIOS,2022-11-08 01:01:25,71837TX0010001,71837TX0010001-01,Major Dental Care - Adult,NaN,NaN,...,NaN,Not Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No
2143,2023,TX,71837,HIOS,2022-11-08 01:01:25,71837TX0010001,71837TX0010001-01,Abortion for Which Public Funding is Prohibited,NaN,NaN,...,NaN,Not Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No

In [5]:
df_benefic.columns

Index(['BusinessYear', 'StateCode', 'IssuerId', 'SourceName', 'ImportDate',
       'StandardComponentId', 'PlanId', 'BenefitName', 'CopayInnTier1',
       'CopayInnTier2', 'CopayOutofNet', 'CoinsInnTier1', 'CoinsInnTier2',
       'CoinsOutofNet', 'IsEHB', 'IsCovered', 'QuantLimitOnSvc', 'LimitQty',
       'LimitUnit', 'Exclusions', 'Explanation', 'EHBVarReason',
       'IsExclFromInnMOOP', 'IsExclFromOonMOOP'],
      dtype='object')

In [39]:
tabla_Seguros = df_benefic[["StandardComponentId", "IssuerId", "StateCode"]].drop_duplicates().reset_index(drop=True)
tabla_Seguros.shape

(4393, 3)

In [40]:
tabla_Seguros.head()

  StandardComponentId  IssuerId StateCode
0      71837TX0010001     71837        TX
1      13877AZ0070002     13877        AZ
2      13877AZ0070008     13877        AZ
3      13877AZ0070011     13877        AZ
4      12303AZ0010001     12303        AZ

In [52]:
tabla_Seguros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4393 entries, 0 to 4392
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   StandardComponentId  4393 non-null   object
 1   IssuerId             4393 non-null   int64
 2   StateCode            4393 non-null   object
dtypes: int64(1), object(2)
memory usage: 103.1+ KB

### TABLA BENEFICIOS

In [41]:
tabla_beneficios = df_benefic[['StandardComponentId', 'PlanId', 'BenefitName', 'CopayInnTier1',
       'CopayInnTier2', 'CopayOutofNet', 'CoinsInnTier1', 'CoinsInnTier2',
       'CoinsOutofNet', 'IsEHB', 'IsCovered', 'QuantLimitOnSvc', 'LimitQty',
       'LimitUnit', 'Exclusions', 'Explanation', 'EHBVarReason',
       'IsExclFromInnMOOP', 'IsExclFromOonMOOP']].drop_duplicates().reset_index(drop=True).reset_index().rename(columns={"index": "id_benefic"}, errors="raise")

In [62]:

max(tabla_beneficios.StandardComponentId, key=len)

'71837TX0010001'

In [42]:
tabla_beneficios.head()

,id_benefic,StandardComponentId,PlanId,BenefitName,CopayInnTier1,CopayInnTier2,CopayOutofNet,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,IsEHB,IsCovered,QuantLimitOnSvc,LimitQty,LimitUnit,Exclusions,Explanation,EHBVarReason,IsExclFromInnMOOP,IsExclFromOonMOOP
0,0,71837TX0010001,71837TX0010001-01,Major Dental Care - Child,Not Applicable,NaN,Not Applicable,20% Coinsurance after deductible,NaN,100.00%,Yes,Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No
1,1,71837TX0010001,71837TX0010001-01,Basic Dental Care - Adult,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No
2,2,71837TX0010001,71837TX0010001-01,Orthodontia - Adult,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No
3,3,71837TX0010001,71837TX0010001-01,Major Dental Care - Adult,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No
4,4,71837TX0010001,71837TX0010001-01,Abortion for Which Public Funding is Prohibited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No

In [65]:
tabla_beneficios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1365356 entries, 0 to 1365355
Data columns (total 20 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   id_benefic           1365356 non-null  int64
 1   StandardComponentId  1365356 non-null  object
 2   PlanId               1365356 non-null  object
 3   BenefitName          1365356 non-null  object
 4   CopayInnTier1        1061409 non-null  object
 5   CopayInnTier2        276311 non-null   object
 6   CopayOutofNet        1061409 non-null  object
 7   CoinsInnTier1        1061409 non-null  object
 8   CoinsInnTier2        276311 non-null   object
 9   CoinsOutofNet        1061409 non-null  object
 10  IsEHB                1018384 non-null  object
 11  IsCovered            1286868 non-null  object
 12  QuantLimitOnSvc      386818 non-null   object
 13  LimitQty             186929 non-null   float64
 14  LimitUnit            186929 non-null   object
 15  Exclusions           90545 non-null    object
 16  Explanation          460128 non-null   object
 17  EHBVarReason         330764 non-null   object
 18  IsExclFromInnMOOP    1147505 non-null  object
 19  IsExclFromOonMOOP    1147493 non-null  object
dtypes: float64(1), int64(1), object(18)
memory usage: 208.3+ MB

### TABLA TARIFAS

In [12]:
df_rate = pd.read_csv("Data/Rate_PUF.csv")

In [13]:
df_rate = df_rate[df_rate["StateCode"].isin(states)]
df_rate.head()

,BusinessYear,StateCode,IssuerId,SourceName,ImportDate,RateEffectiveDate,RateExpirationDate,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents
64039,2023,AZ,12303,HIOS,2022-06-14 01:01:37,2023-01-01,2023-12-31,12303AZ0010001,Rating Area 1,No Preference,0-14,29.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64040,2023,AZ,12303,HIOS,2022-06-14 01:01:37,2023-01-01,2023-12-31,12303AZ0010001,Rating Area 2,No Preference,0-14,29.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64041,2023,AZ,12303,HIOS,2022-06-14 01:01:37,2023-01-01,2023-12-31,12303AZ0010001,Rating Area 3,No Preference,0-14,29.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64042,2023,AZ,12303,HIOS,2022-06-14 01:01:37,2023-01-01,2023-12-31,12303AZ0010001,Rating Area 4,No Preference,0-14,29.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64043,2023,AZ,12303,HIOS,2022-06-14 01:01:37,2023-01-01,2023-12-31,12303AZ0010001,Rating Area 5,No Preference,0-14,29.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_rate.columns

Index(['BusinessYear', 'StateCode', 'IssuerId', 'SourceName', 'ImportDate',
       'RateEffectiveDate', 'RateExpirationDate', 'PlanId', 'RatingAreaId',
       'Tobacco', 'Age', 'IndividualRate', 'IndividualTobaccoRate', 'Couple',
       'PrimarySubscriberAndOneDependent', 'PrimarySubscriberAndTwoDependents',
       'PrimarySubscriberAndThreeOrMoreDependents', 'CoupleAndOneDependent',
       'CoupleAndTwoDependents', 'CoupleAndThreeOrMoreDependents'],
      dtype='object')

In [15]:
df_rate.shape

(1729685, 20)

In [44]:
tabla_tarifas = df_rate[['PlanId', 'RatingAreaId',
       'Tobacco', 'Age', 'IndividualRate', 'IndividualTobaccoRate', 'Couple',
       'PrimarySubscriberAndOneDependent', 'PrimarySubscriberAndTwoDependents',
       'PrimarySubscriberAndThreeOrMoreDependents', 'CoupleAndOneDependent',
       'CoupleAndTwoDependents', 'CoupleAndThreeOrMoreDependents']].drop_duplicates().reset_index(drop=True).reset_index().rename(columns = {"index":"id_tarifas", "PlanId" : "StandardComponentId"})

In [45]:
tabla_tarifas.head()

,id_tarifas,StandardComponentId,RatingAreaId,Tobacco,Age,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents
0,0,12303AZ0010001,Rating Area 1,No Preference,0-14,29.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,12303AZ0010001,Rating Area 2,No Preference,0-14,29.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,12303AZ0010001,Rating Area 3,No Preference,0-14,29.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,12303AZ0010001,Rating Area 4,No Preference,0-14,29.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,12303AZ0010001,Rating Area 5,No Preference,0-14,29.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
tabla_tarifas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718231 entries, 0 to 1718230
Data columns (total 14 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   id_tarifas                                 int64
 1   StandardComponentId                        object
 2   RatingAreaId                               object
 3   Tobacco                                    object
 4   Age                                        object
 5   IndividualRate                             float64
 6   IndividualTobaccoRate                      float64
 7   Couple                                     float64
 8   PrimarySubscriberAndOneDependent           float64
 9   PrimarySubscriberAndTwoDependents          float64
 10  PrimarySubscriberAndThreeOrMoreDependents  float64
 11  CoupleAndOneDependent                      float64
 12  CoupleAndTwoDependents                     float64
 13  CoupleAndThreeOrMoreDependents             float64
dtypes: float64(9), int64(1), object(4)
memory usage: 183.5+ MB

# Carga de tablas a Base de datos

In [47]:
import psycopg2
import pymysql
from sqlalchemy import create_engine

In [48]:
# conn = psycopg2.connect(
#     database = "postgres",
#     user = "postgres",
#     host = "localhost", 
#     password = "example", 
#     port = "5432"
#     )

In [49]:
# dialect+driver://username:password@host:port/database
engine = create_engine("postgresql+psycopg2://postgres:example@localhost:5432/postgres")

In [22]:
# cursor = conn.cursor()
# cursor.close()

In [50]:
# conn.close()

In [23]:
# cursor.close()

In [53]:
tabla_Seguros.to_sql("SEGUROS", con=engine, index=False, if_exists='append')

393

In [66]:
tabla_beneficios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1365356 entries, 0 to 1365355
Data columns (total 20 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   id_benefic           1365356 non-null  int64
 1   StandardComponentId  1365356 non-null  object
 2   PlanId               1365356 non-null  object
 3   BenefitName          1365356 non-null  object
 4   CopayInnTier1        1061409 non-null  object
 5   CopayInnTier2        276311 non-null   object
 6   CopayOutofNet        1061409 non-null  object
 7   CoinsInnTier1        1061409 non-null  object
 8   CoinsInnTier2        276311 non-null   object
 9   CoinsOutofNet        1061409 non-null  object
 10  IsEHB                1018384 non-null  object
 11  IsCovered            1286868 non-null  object
 12  QuantLimitOnSvc      386818 non-null   object
 13  LimitQty             186929 non-null   float64
 14  LimitUnit            186929 non-null   object
 15  Exclusions           90545 non-null    object
 16  Explanation          460128 non-null   object
 17  EHBVarReason         330764 non-null   object
 18  IsExclFromInnMOOP    1147505 non-null  object
 19  IsExclFromOonMOOP    1147493 non-null  object
dtypes: float64(1), int64(1), object(18)
memory usage: 208.3+ MB

In [69]:
tabla_beneficios.to_sql("BENEFICIOS", con=engine, chunksize = 1000, index=False, if_exists='append')

1365356

In [70]:
tabla_tarifas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718231 entries, 0 to 1718230
Data columns (total 14 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   id_tarifas                                 int64
 1   StandardComponentId                        object
 2   RatingAreaId                               object
 3   Tobacco                                    object
 4   Age                                        object
 5   IndividualRate                             float64
 6   IndividualTobaccoRate                      float64
 7   Couple                                     float64
 8   PrimarySubscriberAndOneDependent           float64
 9   PrimarySubscriberAndTwoDependents          float64
 10  PrimarySubscriberAndThreeOrMoreDependents  float64
 11  CoupleAndOneDependent                      float64
 12  CoupleAndTwoDependents                     float64
 13  CoupleAndThreeOrMoreDependents             float64
dtypes: float64(9), int64(1), object(4)
memory usage: 183.5+ MB

In [71]:
tabla_tarifas.to_sql("TARIFAS", con=engine, index=False, chunksize = 1000, if_exists='append')

1718231